<h1>登入</h1>
<hr>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="success===undefined">
  <div>
    <label>
      帳號:
      <input type="text" formControlName="account" required class="account">
    </label>
  </div>
  <div>
    <label>
      密碼:
      <input type="password" formControlName="password" required id="password">
    </label>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">送出</button>
</form>
<h2 *ngIf="success===true">登入成功</h2>
<h2 *ngIf="success===false">登入失敗</h2>
<button type="button" *ngIf="success===true" (click)="signOut()">登出</button>
<button type="button" *ngIf="success===false" (click)="signOut()">重新登入</button>
